/* body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #f6f8fa;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: larger;
}

.container {
  margin-left: 16px;
  margin-right: 12px;
}

.banner {
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.banner .logo {
  width: 10%;
  position: absolute;
}
.banner .site-branding img {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
  border: 3px solid white;
  margin-left: 8px;
  margin-top: 7px;
  position: relative;
  z-index: 1;
  height: 96px;
  border-width: 3px;
}
.banner .menuregion {
  width: 100%;
  border-top: 4px solid #c20017;
  background-color: #036;
  display: flex;
  padding-left: 94px;
}
.banner .menuregion .navigation_menu ul {
  list-style-type: none;
  display: flex;
}
.banner .menuregion .navigation_menu ul li a {
  padding: 6px 5px;
  color: white;
  transition: background 0.2s linear;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.banner .menuregion .useraccountmenu {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.banner .menuregion .useraccountmenu .searchicon {
  margin: 2px;
  color: #edf6ff;
}
.banner .menuregion .hamburger {
  display: none;
}

.bottomregion ul {
  list-style-type: none;
  margin-left: 95px;
  font-weight: 600;
}
.bottomregion ul li {
  float: left;
}
.bottomregion ul li span {
  color: #c20017;
}
.bottomregion ul li a {
  padding: 6px 5px;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .navigation_menu ul .Sports, .navigation_menu ul .Lifestyle, .navigation_menu ul .Weather, .navigation_menu ul .TV, .navigation_menu ul .Fox, .navigation_menu ul .Listen {
    display: none;
  }
}
@media (max-width: 730px) {
  .navigation_menu ul .Business {
    display: none;
  }
}
@media (max-width: 670px) {
  .navigation_menu ul .Opinion {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner .site-branding img {
    margin-left: 8px;
    margin-top: 20px;
    height: 25px;
    width: auto;
    background-color: inherit;
  }

  header .menuregion {
    padding-left: 0 !important;
  }
  header .menuregion .search-block-form {
    margin-top: 0% !important;
    display: none !important;
  }
  header .menuregion .search-block-form form {
    display: block !important;
  }
  header .menuregion .search-block-form form .search {
    margin-left: 20px !important;
  }
  header .navigation_menu ul {
    display: none !important;
  }

  .hamburger {
    padding: 20px;
    display: block !important;
    margin-left: auto;
  }
  .hamburger .svg-inline--fa {
    color: white;
    height: 20px;
    width: auto;
  }

  .hamburgertogglemenu {
    height: 300px;
  }
}
footer {
  background-color: #036;
  margin-top: 150em;
  padding: 32px 0 24px 0;
}
footer .footerupper {
  margin: 0 24px;
}
footer .footerupper .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footerupper .footer nav {
  margin-bottom: 30px;
  width: 16.666667%;
}
footer .footerupper .footer h2 {
  color: #edf6ff;
  font-weight: bold;
  margin-block-end: -10px;
  font-size: 18px;
  padding: 0 16px;
}
footer .footerupper .footer ul {
  padding: 0 16px;
}
footer .footerupper .footer ul li a {
  font-size: 14px;
}
footer .navigation_menu ul li {
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
}
footer .navigation_menu ul li a {
  color: #edf6ff;
  text-decoration: none;
}
footer .navigation_menu ul li a:hover {
  color: #a7c6e5;
  transition: background, 0.25s, ease-in-out;
  border-bottom: 2px solid #1b4e81;
}
footer .footerlower {
  margin: 0 24px;
  padding-top: 24px;
  border-top: 1px solid #174676;
  overflow: hidden;
}
footer .footerlower .socialiconmobile {
  display: none;
}
footer .footerlower .footer_legal_section {
  display: flex;
}
footer .footerlower .footer_legal_section .branding {
  margin-right: 16px;
}
footer .footerlower .footer_legal_section .branding a {
  opacity: 0.15;
}
footer .footerlower .footer_legal_section .legal {
  width: calc(100% - 496px);
}
footer .footerlower .footer_legal_section .legal .legal_top nav ul {
  display: flex;
  padding: 0%;
  margin: 0%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
footer .footerlower .footer_legal_section .legal .legal_top nav ul li {
  font-size: 10px;
  margin-right: 5px;
  padding-right: 6px;
  position: relative;
  list-style-type: none;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: -3px;
}
footer .footerlower .footer_legal_section .legal .legal_top nav ul li:after {
  content: "";
  background-color: #5787b8;
  position: absolute;
  top: 3px;
  right: -1px;
  height: 12px;
  width: 1px;
}
footer .footerlower .footer_legal_section .legal .legal_top nav ul li:last-child:after {
  content: none;
}
footer .footerlower .footer_legal_section .legal .legal_bottom {
  display: flex;
}
footer .footerlower .footer_legal_section .legal .legal_bottom nav ul {
  margin: 0;
  padding: 0;
}
footer .footerlower .footer_legal_section .legal .legal_bottom nav ul .legalTextTitle {
  display: none;
}
footer .footerlower .footer_legal_section .legal .legal_bottom nav ul .legalText p {
  margin: 0;
  font-size: 12px;
  color: #a7c6e5;
  line-height: 21px;
}
footer .footerlower .footer_legal_section .legal .legal_bottom nav ul .legalText p a {
  font-size: 12px;
}
footer .footerlower .footer_legal_section .socialiconlaptop .social-icon {
  clear: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
footer .footerlower .footer_legal_section .socialiconlaptop .social-icon .footer_icon_menu {
  display: flex;
}
footer .footerlower .footer_legal_section .socialiconlaptop .social-icon .footer_icon_menu .socialicon {
  background-color: #001d3a;
  border-radius: 50%;
  margin: 0 0 0 8px;
}
footer .footerlower .footer_legal_section .socialiconlaptop .social-icon .footer_icon_menu .socialicon .icons {
  display: block;
  height: 30px;
  width: 30px;
}
footer .footerlower .footer_legal_section .socialiconlaptop .social-icon .footer_icon_menu .socialicon img {
  margin-left: 7px;
  margin-top: 7px;
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1023px) {
  footer .footerupper {
    margin: 0 16px;
  }
  footer .footerupper .footer nav {
    margin-bottom: 24px !important;
    width: calc(50% - 32px) !important;
    margin-right: 15px;
  }
  footer .footerupper .footer h2 {
    padding: 0;
    margin-top: 0;
  }
  footer .footerupper .footer ul {
    padding: 0 0;
  }
  footer .footerlower {
    margin: 0 16px;
  }
  footer .footerlower .socialiconmobile {
    display: flex !important;
    margin-bottom: 32px;
    justify-content: center;
  }
  footer .footerlower .socialiconmobile .social-icon {
    clear: none;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu .socialicon {
    background-color: #001d3a;
    border-radius: 50%;
    margin: 0 3px 3px 3px;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu .socialicon .iconss {
    display: block;
    height: 30px;
    width: 30px;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu .socialicon img {
    margin-left: 7px;
    margin-top: 7px;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer .footerlower .footer_legal_section .legal {
    width: calc(100% - 68px) !important;
  }
  footer .footerlower .footer_legal_section .legal .legal_top nav ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  footer .footerupper {
    margin: 0 24px;
  }
  footer .footerupper .footer nav {
    margin-bottom: 30px;
    width: 25% !important;
    margin-right: 0;
  }
  footer .footerupper .footer h2 {
    padding: 0;
  }
  footer .footerupper .footer ul {
    padding: 0 0;
  }
}
@media (max-width: 540px) {
  footer .footerupper .footer nav {
    width: calc(50% - 32px) !important;
  }
  footer .footerlower .footer_legal_section .socialiconlaptop {
    display: none;
  }
}
@media (max-width: 480px) {
  footer .footerupper {
    margin: 0 16px;
  }
  footer .footerupper .footer {
    display: block;
  }
  footer .footerupper .footer nav {
    display: inline-block;
    flex-direction: column;
    width: calc(50% - 32px) !important;
    margin-bottom: 10px;
    vertical-align: top;
    margin-right: 15px;
  }
  footer .footerlower {
    margin: 0 16px;
  }
  footer .footerlower .socialiconmobile {
    display: flex;
    margin-bottom: 32px;
  }
  footer .footerlower .socialiconmobile .social-icon {
    clear: none;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu .socialicon {
    background-color: #001d3a;
    border-radius: 50%;
    margin: 0 3px 3px 3px;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu .socialicon .iconss {
    display: block;
    height: 30px;
    width: 30px;
  }
  footer .footerlower .socialiconmobile .social-icon .footer_icon_menu .socialicon img {
    margin-left: 7px;
    margin-top: 7px;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer .footerlower .footer_legal_section .legal {
    width: calc(100% - 68px);
  }
  footer .footerlower .footer_legal_section .legal .legal_top nav ul {
    flex-wrap: wrap;
  }
  footer .footerlower .footer_legal_section .socialiconlaptop {
    display: none;
  }
}
.hamburgersection {
  position: absolute;
}

.searchHam {
  display: none;
}

.searchHamburger {
  display: block;
  border-top: 1px solid #174676;
  border-bottom: 1px solid #174676;
  position: absolute;
  margin-top: 20%;
  padding: 16px;
  width: calc(100% - 32px);
}
.searchHamburger form {
  display: flex;
}
.searchHamburger form .form-item {
  width: 100%;
}
.searchHamburger form .searchinput {
  height: 40px;
  padding: 0 12px;
  border: 0;
  border-radius: 3px;
  width: 100%;
}
.searchHamburger form .searchbutton {
  color: white;
  background-color: #c20017;
  font-weight: 600;
  padding: 0 16px;
  height: 40px;
  right: 0;
  margin-left: -2px;
  top: 0;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
}

.hamburgerfooter {
  display: none;
}

.hamburgerFooter {
  display: block;
  margin-top: 40%;
}
.hamburgerFooter footer {
  margin-top: 0;
}

@media (min-width: 480px) {
  header footer .navigation_menu ul {
    display: block !important;
  }
  header footer .legal_top .navigation_menu ul {
    display: flex !important;
  }
}
@media (min-width: 1024px) {
  .searchHamburger {
    display: block;
    border-top: 1px solid #174676;
    border-bottom: 1px solid #174676;
    position: absolute;
    margin-top: 4%;
    background: #036;
    padding: 16px;
    width: calc(100% - 32px);
  }
  .searchHamburger .search-block-form {
    display: flex;
    justify-content: center;
  }
  .searchHamburger .search-block-form form {
    display: flex;
    width: 48em;
  }
  .searchHamburger .search-block-form form .form-item {
    width: 100%;
  }
  .searchHamburger .search-block-form form .searchinput {
    height: 48px;
    padding: 0 12px;
    border: 0;
    border-radius: 3px;
    width: 100%;
  }
  .searchHamburger .search-block-form form .searchbutton {
    color: white;
    background-color: #c20017;
    font-weight: 600;
    padding: 0 16px;
    height: 48px;
    right: 0;
    margin-left: -2px;
    top: 0;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
  }

  .hamburgerFooter {
    display: block;
    margin-top: 8%;
  }
  .hamburgerFooter footer {
    margin-top: 0;
  }
}
.top-banner {
  margin-top: 1.33rem;
  background-color: #efefef;
  padding: 16px 0 16px 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .top-banner {
    display: block;
  }
}
@media (max-width: 768px) {
  .top-banner {
    display: none;
  }
}
.home-page {
  display: flex;
}
.home-page .sidebar-left {
  width: 22%;
  margin-left: 16px;
  margin-right: 12px;
}
.home-page .home-content {
  width: 100%;
}
.home-page .sidebar-right {
  width: 22%;
  margin-top: 12em;
  margin-left: 12px;
  margin-right: 16px;
  justify-content: right;
}

@media (min-width: 1280px) {
  .home-page {
    padding-top: 12px;
  }
  .home-page .home-content {
    width: 56%;
    border: 1px solid #cedfef;
  }
}
aside {
  display: none;
}

.left-video-wrapper {
  display: none;
}
.left-video-wrapper .live-video .news_video_left video {
  display: none;
}
.left-video-wrapper .sidebar-first {
  display: none;
}

@media screen and (min-width: 1024px) {
  aside {
    display: block;
  }

  .left-video-wrapper {
    display: block;
    border: 1px solid #cedfef;
    background-color: white;
    padding: 16px;
    margin-bottom: 20px;
  }
  .left-video-wrapper .live-video .news_video_left video {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  .left-video-wrapper .sidebar-first {
    display: flex;
  }
  .left-video-wrapper .sidebar-first .fox_and_friends p {
    font-size: 16px;
  }
  .left-video-wrapper .sidebar-first .fox_and_friends p a {
    color: #036;
    text-decoration: none;
    font-weight: 700;
  }
  .left-video-wrapper .sidebar-first .fox_and_friends p a img {
    width: 40px;
    margin: 0;
    height: auto;
    margin-right: 8px;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill {
    background: #c20017;
    width: 30%;
    line-height: 10px;
    font-size: 9px;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill a {
    color: white;
    border: 1px solid #c20017;
    margin-bottom: 6px;
    text-decoration: none;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill {
    background: #c20017;
    width: 30%;
    line-height: 10px;
    font-size: 9px;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill a {
    color: white;
    border: 1px solid #c20017;
    margin-bottom: 6px;
    text-decoration: none;
  }
  .left-video-wrapper .fox_and_friends p {
    margin: 0;
  }
  .left-video-wrapper .left-exclusive-clips .views-row {
    padding: 16px 0 0 0;
    grid-template-columns: 150px 110px;
    line-height: 14px;
    font-weight: 700;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-videos {
    margin-right: 12px;
    grid-row: 1/span 2;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-fox-and-friends {
    color: #c20017;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-fox-and-friends p {
    margin: 0;
    font-size: 11px;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-fox-and-friends p:hover {
    text-decoration: underline;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-title a {
    text-decoration: none;
    color: #036;
    font-size: 13px;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-title a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 768px) {
  aside {
    display: block;
  }

  .left-video-wrapper .sidebar-first THEME DEBUG .on-now .on-now-label .fox_and_friends .pill {
    width: 40%;
  }
  .left-video-wrapper .sidebar-first THEME DEBUG .on-now .fox_and_friends p {
    font-size: 12px;
  }
  .left-video-wrapper .left-exclusive-clips .views-row {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #cedfef;
    grid-template-columns: 150px 110px;
    line-height: 14px;
    font-weight: 700;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-videos {
    margin-right: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .left-video-wrapper .left-exclusive-clips .views-row {
    padding: 16px 0 16px 0;
    display: grid;
    grid-template-columns: 150px 110px;
    line-height: 14px;
    font-weight: 700;
  }
  .left-video-wrapper .left-exclusive-clips .views-row:last-child {
    border-bottom: 0;
  }
}
aside {
  display: none;
}

@media screen and (min-width: 1024px) {
  aside {
    display: block;
  }

  .right-section-wrapper {
    border: 1px solid #cedfef;
    background-color: white;
    padding: 16px;
    margin-bottom: 20px;
  }
  .right-section-wrapper .foxnation p {
    margin: 0;
  }
  .right-section-wrapper .foxnation p img {
    width: 100%;
    height: auto;
  }
  .right-section-wrapper .foxnation .views-field-field-watch-now-link a {
    color: #c20017;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
  }
  .right-section-wrapper .foxnation .views-field-field-watch-now-link a:hover {
    text-decoration: underline;
  }
  .right-section-wrapper .foxnation .views-field-field-foxnation-news-link a {
    text-decoration: none;
    color: #036;
    font-size: 14px;
    font-weight: 700;
  }
  .right-section-wrapper .foxnation .views-field-field-foxnation-news-link a:hover {
    text-decoration: underline;
  }
}
.home-content .home-top-content {
  padding: 0 12px 0 12px;
}
.home-content .home-top-content .views-row {
  display: inline;
  margin-top: -30px;
}
.home-content .home-top-content .views-row .views-field img {
  width: 100%;
  height: auto;
}
.home-content .home-top-content .views-row .related-title {
  background: rgba(0, 51, 102, 0.8);
  position: relative;
  top: -60px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.25px;
  font-size: 18px;
  padding: 5px 0 5px 8px;
}
.home-content .home-top-content .views-row .related-title p {
  margin: 0;
}
.home-content .home-top-content .views-row .views-field-field-image-link a {
  position: relative;
  top: -45px;
  font-size: 24px;
  color: #036;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 768px) {
  .home-content .home-top-content {
    padding: 0 12px 0 12px;
  }
  .home-content .home-top-content .views-view-grid .views-col {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .home-content .home-top-content .views-view-grid .views-col .views-row {
    margin-top: 0;
  }
  .home-content .home-top-content .views-view-grid .views-col .views-row .views-field {
    padding: 0px;
  }
  .home-content .home-top-content .views-view-grid .views-col .views-row .views-field p {
    margin: 0;
  }
  .home-content .home-top-content .views-view-grid .views-col .views-row .views-field p img {
    width: 100%;
    height: auto;
  }
  .home-content .home-top-content .views-view-grid .views-col .views-row .related-title {
    background: rgba(0, 51, 102, 0.8);
    position: relative;
    top: -40px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-size: 18px;
    padding: 4px 0 4px 8px;
  }
  .home-content .home-top-content .views-view-grid .views-col .views-row .views-field-field-image-link a {
    position: relative;
    top: -30px;
    font-size: 16px;
    color: #036;
    font-weight: 700;
    text-decoration: none;
  }
  .home-content .home-other-news {
    border-top: 1px solid #cedfef;
    padding: 0 14px 14px 14px;
  }
  .home-content .home-other-news .other-news .other-news-fields {
    display: grid;
    grid-template-columns: 168px 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid #cedfef;
    padding-top: 12px;
  }
  .home-content .home-other-news .other-news .other-news-fields p {
    margin: 0;
    text-decoration: none;
  }
  .home-content .home-other-news .other-news .other-news-fields .views-field-field-other-news-image-with-link {
    grid-row: 1/span 2;
  }
  .home-content .home-other-news .other-news .other-news-fields .views-field-field-other-news-image-with-link img {
    width: 156px;
    height: 87.75px;
  }
  .home-content .home-other-news .other-news .other-news-fields .views-field-field-other-news-type a {
    color: #4b78a7;
    font-size: 11px;
    line-height: 14px;
    text-decoration: none;
  }
  .home-content .home-other-news .other-news .other-news-fields .views-field-field-other-news-link-title a {
    color: #036;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
  }
  .home-content .home-other-news .other-news .other-news-fields:first {
    padding-top: 0;
  }
  .home-content .home-other-news .other-news .other-news-fields:last-child {
    border-bottom: 0;
  }
} */