$aliceblue: #f6f8fa;
$black: black;
$lightblack:rgb(34, 34, 34);
$darkgrey: #222222;
$white: white;
$headerbg: #036;
$darkred: #c20017;
$whitetext: #edf6ff;
$footerborderblue: #174676;
$footerhover: #a7c6e5;
$footerhoverborderbottom: #1b4e81;
$footerblueline: #5787b8;
$socialiconbg: #001d3a;
$lightgreybannerbg: #efefef;
$lightblueborder: #cedfef;
$relatabletext: #4B78A7;
$darkcyanblue: #1b4e81;
$grey:#666;
$header-grey:#2f3941;
$text-border:#8a23d4;
$light-grey-search: #efebeb;
