@import 'mixins';
aside {
  display: none;
}

@media screen and (min-width:768px) {
  aside {
    display: block;
  }
  
  .right-section-wrapper{
    border: 1px solid $lightblueborder;
    background-color: $white;
    padding: 16px;
    margin-bottom: 20px;
    .right-first-canvas {
      .views-row {
        .views-field-title {
          a {
            font-size: 20.5px;
            color: $lightblack;
            line-height: 1.25;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
    .foxnation {
      .views-field-field-foxna {
        margin-bottom: 16px;
      }
      p {
        margin: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-watch-now-link  a {
        color: $darkred;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration:  none;
      }
      .views-field-field-watch-now-link a:hover {
        text-decoration: underline;
      }
      .views-field-field-foxnation-news-link a {
        text-decoration: none;
        color: $headerbg;
        font-size: 14px;
        font-weight: 700;
      }
      .views-field-field-foxnation-news-link a:hover {
        text-decoration: underline;
      }
    }
    .right-five-news {
      h2 {
        margin: 0;
        font-size: 18px;
        color: $darkgrey;
      }
      .right-side-5-news-section {
        .views-row {
          border-bottom: 1px solid $lightblueborder;
          .views-field-title {
            padding: 10px 0 16px 0;
            a {
              text-decoration: none;
              font-size: 13px;
              line-height: 18px;
              color: $headerbg;
              font-weight: 700;
            }
            a:hover {
              text-decoration: underline;
            }
            a:last-child {
              padding-bottom: 0;
            }
          }
        }
        .views-row:last-child {
          border-bottom: 0;
          // padding-bottom: 0;
        }
      }
    }
  }
}
