.right-section-wrapper {
  .webform-submission-newsletter-form {
    .newsletter-form {
      .newsletter-input-email {
        input {
          height: 28px;
          border: 1px solid $lightblueborder;
          border-radius: 5px;
          padding: 0 12px ;
        }
      }
    }
    .webform-flex--0 {
      .webform-flex--container {
        margin: 0;
        .newsletter-button {
          input {
            font-weight: 700;
          }
        }
      }
    }      
  }
}
